apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-dpnk-automat-staff-configmap
  labels:
    app: caddy-dpnk-automat-staff
data:
  Caddyfile: |
    {
      debug
      admin 0.0.0.0:2019
    }
    :80 {
      redir / https://leden2026.dopracenakole.net/
      redir /admin/ https://leden2026.dopracenakole.net/admin/
    }
